django==3.2.18

# 1. On macOS: you need to do `brew install postgresql` first, for both psycopg2-binary or psycopg2
# 2. Timezone issue in 2.9, must use 2.8.6, see https://stackoverflow.com/a/68025007/9814131
# 3. On M1: https://github.com/psycopg/psycopg2/issues/1286#issuecomment-914286206 or https://github.com/psycopg/psycopg2/issues/1200#issuecomment-946436396
# export CPPFLAGS="-I/opt/homebrew/opt/openssl@1.1/include"
# export LDFLAGS="-L/opt/homebrew/opt/openssl@1.1/lib -L$(pwd)/venv/lib"
# For production, use `psycopg2`
psycopg2==2.9.3
# psycopg2-binary==2.9.3

django-cacheops==6.0

gunicorn==20.1.0
django-cors-headers==3.10.1

djangorestframework==3.13.1
graphene-django==2.15.0

django-filter==2.4.0 # https://github.com/carltongibson/django-filter
djangorestframework-filters==1.0.0.dev2 # https://github.com/philipn/django-rest-framework-filters

djangorestframework-simplejwt==4.6.0 # https://github.com/jazzband/djangorestframework-simplejwt

# REST Social Auth dependencies: https://github.com/st4lk/django-rest-social-auth
rest-social-auth==6.0.1
social-auth-core==4.0.2
social-auth-app-django==4.0.0 # for social auth pipeline https://github.com/python-social-auth/social-app-django

# For access to AWS S3
boto3==1.20.26
awscli==1.22.26
